<h1>
    Our Tweets !!!
</h1>
@*<script>
    new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 1000,
        width: 350,
        height: 200,
        theme: {
            shell: {
                background: '#f6f6f6',
                color: '#333'
            },
            tweets: {
                background: '0',
                color: '#333',
                links: '#019ad2'
            }
        },
        features: {
            scrollbar: false,
            loop: true,
            live: true,
            behavior: 'default'
        }
    }).render().setUser('MyBlood4YouCom').start();
</script>*@
