<h1>
    Blood Compatibility Chart</h1>
<div style="padding: 5px 20px 10px 0;">
    <p>
        Blood is grouped into four types: A, B, AB, and O. Each type is also classified
        by an RH factor – either positive ( + ) or negative ( - ). When a blood transfusion
        is necessary, donor and patient blood must be compatible. If not, the patient’s
        body will react to the incompatible donor cells, leading to complications, maybe
        even death. Your ABO blood grouping and Rh factor are inherited from your parents.
        Check the chart below to see what percentage of the population shares your ABO grouping.
    </p>
    <br />
    <p>
        Sometimes we do not get the required type of blood during emergency need. In that
        cases we can use compatible blood groups to meet the emergency needs. A list of
        compatible blood groups are given below. Depending on whether you need only Red
        Cells, Whole Blood or Plasma, the compatible blood groups may vary. The following
        chart is for your reference only. Please consult with a qualified doctor for the
        decision making of blood transfusion.</p>
    <br />
    <img width= "100%" src="@Html.RenderStaticContentUrl("i/bloodchart.png")" alt="Blood Compatibility Chart" />
    <br />
    <br />
    <p>
        What is your probability of getting blood during emergency need? You can use the
        following chart to know the distribution and ratio of blood groups or blood types.</p>
    <br />
    <table class="grid">
        <tr>
            <th class="aleft">
                Blood Type
            </th>
            <th class="aleft">
                Distribution
            </th>
            <th class="aleft">
                Ratios
            </th>
        </tr>
        <tr>
            <td>
                O +ve
            </td>
            <td>
                1 person in 3
            </td>
            <td>
                38.4%
            </td>
        </tr>
        <tr>
            <td>
                O -ve
            </td>
            <td>
                1 person in 15
            </td>
            <td>
                7.7%
            </td>
        </tr>
        <tr>
            <td>
                A +ve
            </td>
            <td>
                1 person in 3
            </td>
            <td>
                32.3%
            </td>
        </tr>
        <tr>
            <td>
                A -ve
            </td>
            <td>
                1 person in 16
            </td>
            <td>
                6.5%
            </td>
        </tr>
        <tr>
            <td>
                B +ve
            </td>
            <td>
                1 person in 12
            </td>
            <td>
                9.4%
            </td>
        </tr>
        <tr>
            <td>
                B -ve
            </td>
            <td>
                1 person in 67
            </td>
            <td>
                1.7%
            </td>
        </tr>
        <tr>
            <td>
                AB +ve
            </td>
            <td>
                1 person in 29
            </td>
            <td>
                3.2%
            </td>
        </tr>
        <tr>
            <td>
                AB -ve
            </td>
            <td>
                1 person in 167
            </td>
            <td>
                0.7%
            </td>
        </tr>
    </table>
</div>
