@model Rajas.Persona.Domain.Models.UserModel
<h1>What We Do?</h1>
<div>
    Rajas Consulatants and Services, 35 B, Hari Om Colony,<br />
    Opp. Shankar Nagar, Amravati, Maharashtra,
    <br />
    India 444 602
    <br />
    Contact Us: +91-9665769988<br />
    Email Address: support@myblood4you.com<br />
</div>
